In [1]:
# ANALYSING AND CLEANING DATA
import pandas as pd

df = pd.read_csv('Exercise Python/mine.csv')
df1 = pd.DataFrame(df)
print(df1)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [2]:
# Head(); Displays the first five rows of the table
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [3]:
# Tail(); Displays the last few rows of the table
df1.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [4]:
# info(); returns a summary of the DataFrame, including datatypes, column names and number of non-null values.
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [5]:
# dropna(); removes rows or columns with missing values from the DataFrame. 
# It can remove any row containing atleast one missing value
df1.dropna()  # Drops rows with missing values
df1.dropna(axis=1)   # Drops columns with missing values

     Duration  Pulse  Maxpulse
0          60    110       130
1          60    117       145
2          60    103       135
3          45    109       175
4          45    117       148
..        ...    ...       ...
164        60    105       140
165        60    110       145
166        60    115       145
167        75    120       150
168        75    125       150

[169 rows x 3 columns]

In [6]:
# fillna(); Used to fill missing values in the dataframe with a specific value or strategy.
df2 = pd.DataFrame(df)
df2.fillna(1) # fills missing values with 1
df2.fillna(method="ffill")  # fills missing values with the previous non-null value (forward fill)
df.fillna(method="bfill")  # fills missing values with the next non-null value(backward fill)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

## Part 2

In [7]:
# Structuring the dataset
df3 = pd.read_csv('Exercise Python/Work.csv')
df4 = pd.DataFrame(df3)

In [8]:
# Removing wrong data from the dataset
# Use boolean inndexing to select and remove the rowws containing wrong data.
dframe = df4.dropna()
dframe = dframe[dframe["py-score"].str.isnumeric()]
print(dframe)

     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84

In [9]:
# Removing wrong formats from the dataset
# Converting "Age" column to numeric format
df4["age"] = pd.to_numeric(df4["age"], errors="coerce")
df4 = df4.dropna(subset=['age'])
print(df4)

     Name     city   age py-score
0    Emma  Kampala  23.0       90
1  Wilber    Mbale  26.0       75
2   Robin     Gulu  25.0     mine
4    Yeko   Tororo  20.0       94
6   Jesca  Mbarara  21.0       84

In [10]:
# Removing duplicate values
df4 = dframe.drop_duplicates()
print(df4)

     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84

In [11]:
# Calculate the correlation on the mine.csv dataset
correlation = df1.corr()
print(correlation)

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000